body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h3 {
    margin: 0 0 20px;
    text-align: left;
}

.message {
    margin-left: 5%;
    margin-right: 5%;
}

.grid {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.grid .remove {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    color: #a94442;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 335px;
}

.form {
    width: 40%;
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.form label {
    width: 100px;
}

.form input {
    width: 300px;
    float: right;
}

.form .form-group span {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    color: #5cb85c;
}

.form .form-group p {
    margin-top: 15px;
    margin-left: 200px;
    color: #a94442;
}

.form .avatar {
    height: 250px;
    float: right;
    margin-right: 25px;
}

.form .buttons {
    clear: both;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
}


/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}