<!-- Specify a Angular controller script that binds Javascript variables to the grid.-->
<div class="grid" ng-controller="itemsListController">
    <div>
        <h3>Lista de Items</h3>
    </div>

    <!-- Binds the grid component to be displayed. -->
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>

<!-- Specify a Angular controller script that binds Javascript variables to the form.-->
<div class="form" ng-controller="itemsFormController">

    <h3>Persistir Item</h3>

    <div>
        <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
        <form name="itemForm" ng-submit="updateItem()" novalidate>

            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
            <div class="form-group">
                <label for="nome">Nome:</label>

                <input id="nome" name="nome" type="text" class="form-control" maxlength="50"
                       ng-model="item.nome"
                       required ng-minlength="1" ng-maxlength="50"/>
            </div>

            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
            <div class="form-group">
                <label for="nome">Descrição:</label>

                <input id="descricao" name="descricao" type="text" class="form-control" maxlength="50"
                       ng-model="item.descricao"
                       required ng-minlength="1" ng-maxlength="50"/>
            </div>
            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
            <div class="form-group">
                <label for="nome">Estoque:</label>

                <input id="estoque" name="estoque" type="number" class="form-control" maxlength="50"
                       ng-model="item.estoque"
                       required ng-minlength="1" ng-maxlength="50"/>
            </div>



            <!-- Form buttons. The 'Save' button is only enabled when the form is valid. -->
            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="clearForm()">Clear</button>
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid">Save</button>
            </div>
        </form>
    </div>
</div>