<!-- Specify a Angular controller script that binds Javascript variables to the grid.-->
<div ng-controller="vendasListController">
    <div class="col-md-4">
        <label>Lista de Vendas</label>
        <select class="form-control" ng-model="selectedVenda" ng-options="venda.id for venda in vendas"
                ng-change="refreshGrid()">
        </select>
        <br/>
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>

    <div class="col-md-8">
        <h4>Persisr Vendas</h4>
        <br/>






        <div class="form" ng-controller="vendasFormController">
            <h4>Persisr Vendas</h4>

            <div>
                <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
                <form name="vendaForm" ng-submit="updateVenda()" novalidate>

                    <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                    <div class="form-group">
                        <label for="item">Items:</label>

                        <select id="item" class="form-control" ng-model="venda.item" ng-options="item.nome for item in items" multiple>
                        </select>
                    </div>

                    <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                    <div class="form-group">
                        <label for="quantidade">Quantidade:</label>

                        <input id="quantidade" name="quantidade" type="number" class="form-control" maxlength="50"
                               ng-model="venda.quantidade"
                               required ng-minlength="1" ng-maxlength="50"/>
                    </div>

                    <!-- Form buttons. The 'Save' button is only enabled when the form is valid. -->
                    <div class="buttons">
                        <button type="button" class="btn btn-primary" ng-click="clearForm()">Clear</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid">Save</button>
                    </div>
                </form>
            </div>
        </div>








    </div>
</div>

<!-- Specify a Angular controller script that binds Javascript variables to the form.-->
<!--
<div class="form" ng-controller="vendasFormController">

    <h3>Persistir Venda</h3>

    <div>
        &lt;!&ndash; Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation&ndash;&gt;
        <form name="vendaForm" ng-submit="updateVenda()" novalidate>

            &lt;!&ndash; Display an error if the input is invalid and is dirty (only when someone changes the value) &ndash;&gt;
            <div class="form-group">
                <label for="nome">Nome:</label>

                <input id="nome" name="nome" type="text" class="form-control" maxlength="50"
                       ng-model="venda.nome"
                       required ng-minlength="1" ng-maxlength="50"/>
            </div>

            &lt;!&ndash; Display an error if the input is invalid and is dirty (only when someone changes the value) &ndash;&gt;
            <div class="form-group">
                <label for="nome">Descrição:</label>

                <input id="descricao" name="descricao" type="text" class="form-control" maxlength="50"
                       ng-model="venda.descricao"
                       required ng-minlength="1" ng-maxlength="50"/>
            </div>
            &lt;!&ndash; Display an error if the input is invalid and is dirty (only when someone changes the value) &ndash;&gt;
            <div class="form-group">
                <label for="nome">Estoque:</label>

                <input id="estoque" name="estoque" type="number" class="form-control" maxlength="50"
                       ng-model="venda.estoque"
                       required ng-minlength="1" ng-maxlength="50"/>
            </div>



            &lt;!&ndash; Form buttons. The 'Save' button is only enabled when the form is valid. &ndash;&gt;
            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="clearForm()">Clear</button>
                <button type="submit" class="btn btn-primary" ng-disabled="vendaForm.$invalid">Save</button>
            </div>
        </form>
    </div>
</div>-->
